<app-nav></app-nav>

<div class="map-container">
    <div class="container">
        <h3>Choose location where you want to play</h3>
      <div class="form-group">
        <input type="text" placeholder="Search for Location" autocorrect="off" autocapitalize="off" spellcheck="off" class="form-control address-input" #search>
      </div>
    </div>

  <agm-map [latitude]="lat" [longitude]="lng" [mapTypeControl]="mapTypeControl">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>

  <button class="btn btn-outline-primary">Save location</button>

</div>



