<app-nav></app-nav>
<div class="container">
  

<div class="row">
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Create a Match</h5>
          <p class="card-text">Create a match, reserve the pitch and wait for players to join you.</p>
          <a routerLink="add" class="btn btn-primary">
              <i class="fa fa-plus"></i>&nbsp;
              Create a new Match
            </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Join Existing matches</h5>
          <p class="card-text">Look for matches near to you, join one of them and have fun.</p>
          <a routerLink="search" class="btn btn-primary">
              <i class="fa fa-search"></i>&nbsp;
              Search for a Match
            </a>
        </div>
      </div>
    </div>
  </div>
  <div class="card text-center">
      <div class="card-body">
        <h3 class="card-title">Today's matches</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>