<app-nav></app-nav>
<div class="container">
  

  <div class="row">
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Change your location</h5>
          <p class="card-text">Change your location and load all matches scheduled in that location.</p>
          <a routerLink="search" class="btn btn-primary">
              <i class="fa fa-globe"></i>&nbsp;
              Change location
            </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Create a Match</h5>
          <p class="card-text">Create a match, reserve the pitch and wait for players to join you.</p>
          <a routerLink="add" class="btn btn-primary">
              <i class="fa fa-plus"></i>&nbsp;
              Create a new Match
            </a>
        </div>
      </div>
    </div>
  </div>
  <div class="card text-center">
      <div class="card-body">
        <h3 class="card-title match-card-title">Today's matches</h3>
        <div class="card text-center">

          <div class="card-body" *ngFor="let match of matches">
            
              <h5 class="card-title">{{match.label}}
                <span class="badges-container">
                  <span class="badge badge-secondary"><i class="fa fa-user"></i> Size: {{match.playersCount}} Players</span>
                </span>
              </h5>
              <p class="card-text">
                <strong>Address : </strong>
                {{match.address.city}} - {{match.address.zip}}
              </p>
              <div class="join-btns-container" *ngIf="!match.hasTimeConstraint&& !match.hasAlreadyJoined">
                <button class="btn btn-outline-primary btn-join" (click)="JoinMatch(match)">Join this match</button>&nbsp;
              </div>
              <span class="alert alert-info" *ngIf="match.hasTimeConstraint && !match.hasAlreadyJoined">
                  You have another match scheduled at {{match.date | date}}.
              </span>
              <span class="alert alert-info" *ngIf="match.hasAlreadyJoined && !match.hasTimeConstraint">
                  You have joined this match.
              </span>

              <hr>
          </div>
          <ngb-pagination class="d-flex justify-content-center" [collectionSize]="totalPages" ellipses="true" [(page)]="page" (pageChange)="onPageChange()"></ngb-pagination>            

        </div>
    </div>
  </div>
</div>