<!-- Navigation -->

<app-landing-nav></app-landing-nav>

<div class="landing-container">
    <div class="background-image"></div>

<header id="about" class="masthead text-center text-white d-flex">
    <div class="header-container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h3 class="text-uppercase">
          <strong>Explore nearby soccer matches and join the one you like</strong>
        </h3>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <button class="btn btn-radius btn-primary btn-xl js-scroll-trigger btn-sign-up" (click)="open(signupTemplate, 'signup')">Sign up</button>
        <button class="btn btn-radius btn-primary btn-xl js-scroll-trigger btn-login" (click)="open(loginTemplate, 'login')">Login</button>
      </div>
    </div>
  </div>
</header>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">At Your Service</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Nearby Matches</h3>
          <p class="text-muted mb-0">Our services makes finding nearby matches easy for you !</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-calendar text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Online Reservation</h3>
          <p class="text-muted mb-0">We offer you the possibility to make online reservations !</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-soccer-ball-o text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Join and Play</h3>
          <p class="text-muted mb-0">You can choose and join one of the matches you like !</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-trophy text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Participate and Win</h3>
          <p class="text-muted mb-0">You also have the possibility to participate in our tournaments and win the prize</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="my-4">
        <p class="mb-5">Need any additional information about our services ? Give us a call or send us an email and we will get back to you as soon as possible!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
        <p>123-456-6789</p>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
        <p>
          <a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a>
        </p>
      </div>
    </div>
  </div>
</section>


<ng-template #signupTemplate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Sign up form</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputUsername">Username</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-user"></i>
              </div>
            </div>
            <input type="text" required class="form-control" name="username" id="inputUsername" placeholder="Username" [(ngModel)]="player.username">
          </div>
        </div>
        
        <div class="form-group col-md-4">
          <label for="inputPassword4">Password</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-lock"></i>
              </div>
            </div>
            <input type="password" required class="form-control" name="password" id="inputPassword4" placeholder="Password" [(ngModel)]="player.password">
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="inputConfirmPassword4">Confirm Password</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-lock"></i>
              </div>
            </div>
            <input type="password" required class="form-control" name="confirmPwd" id="inputConfirmPassword4" placeholder="Confirmation" [(ngModel)]="confirmPwd">
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputEmail4">Email</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input type="email" required class="form-control" name="email" id="inputEmail4" placeholder="Email" [(ngModel)]="player.email">
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="inputFirstName">First Name</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-user"></i>
              </div>
            </div>
            <input type="text" required class="form-control" name="firstName" id="inputFirstName" placeholder="First Name" [(ngModel)]="player.firstName">
          </div>
        </div>  
        <div class="form-group col-md-4">
          <label for="inputLastName">Last Name</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-user"></i>
              </div>
            </div>
            <input type="text" required class="form-control" name="lastName" id="inputLastName" placeholder="Last Name" [(ngModel)]="player.lastName">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" required class="form-control" name="city" id="inputCity" [(ngModel)]="player.address.city">
        </div>
        <div class="form-group col-md-6">
          <label for="inputZip">Zip</label>
          <input type="text" required class="form-control" name="zip" id="inputZip" [(ngModel)]="player.address.zip">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputPosition">Preferred Position</label>
          <select id="inputPosition" class="form-control" name="preferredPosition" required [(ngModel)]="player.preferredPosition">
            <option *ngFor="let pos of positions" [value]="pos"> {{pos}} </option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="photo">Photo</label>
          <input type="file" name="photo" name="photo" id="photo" [(ngModel)]="player.photo">
        </div>
      </div>
    </form>  
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="signup()">Sign in</button>
  </div>
</ng-template>

<ng-template #loginTemplate let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Login form</h4>
    </div>
    <div class="modal-body">
    <form>
      <div class="form-row">
        <div class="form-group col">
          <label for="inputLogin">Login</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-user"></i>
              </div>
            </div>
            <input type="text" class="form-control" required id="inputLogin" placeholder="Login" name="username" [(ngModel)]="user.username">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="inputPassword4">Password</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-lock"></i>
              </div>
            </div>
            <input type="password" class="form-control" required id="inputPassword4" placeholder="Password" name="password" [(ngModel)]="user.password">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
      <button type="button" class="btn btn-primary" (click)="login()">Login</button>
  </div>
</ng-template>
</div>