<app-nav></app-nav>

<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0 my-2">Create new match</h3>
        </div>
        <br>
        <span class="alert alert-danger" *ngIf="error">
          {{errorMessage}}
        </span>

        <div class="card-body row">
          <div class="col-sm-10 center-block">
            <div class="form-group">
              <h3>Match information</h3>
              <label for="inputDate">Date</label>
              <input type="date" name="date" class="form-control" id="inputDate" [(ngModel)]="match.date" required>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputCity">City</label>
                  <input type="text" class="form-control" id="inputCity" placeholder="City" name="city" [(ngModel)]="match.address.city" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputZip">Zip</label>
                  <input type="number" min="0" class="form-control" id="inputZip" placeholder="Zip" name="zip" [(ngModel)]="match.address.zip" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="validationCustom02">Players count</label>
                  <div class="btn-group btn-group-toggle radio-container" data-toggle="buttons">
                    <label [class]="idx === 0 ? 'btn btn-secondary active' : 'btn btn-secondary'" (click)="onPlayersCountChange(entry.value)" *ngFor="let entry of playersCountOptions; let idx = index">
                      <input type="radio" name="playerscount" class="form-control"
                      [checked]="idx === 0"> {{entry.value}} Players
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="validationCustom02">Reserve places</label>
                  <input type="number" min="0" [max]="match.playersCount" class="form-control" id="inputReservedPlaces" placeholder="Reserve Places" name="reservedPlaces" [(ngModel)]="reservedPlaces" required>
              </div>
            </div>
            
          </div>
        </div>
        <button class="btn btn-primary" (click)="create()">Add Match</button>
      </div>
    </div>
  </div>
</div>
