<app-nav></app-nav>

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card border-secondary">
        <div class="card-header">
          <h3 class="mb-0 my-2">Create new match</h3>
        </div>
        <div class="card-body">
          <form class="needs-validation form" novalidate role="form" autocomplete="off" >
            <div class="form-row">
              <div class="form-group">
                <label for="inputDate">Date</label>
                <input type="date" name="date" class="form-control" id="inputDate" [(ngModel)]="match.date" required>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label for="inputCity">City</label>
                <select id="inputCity" class="form-control" name="city" [(ngModel)]="match.address.city" required
                (ngModelChange)="onCityChange($event)">
                  <option *ngFor="let city of cities" [value]="city.id">{{city.label}}</option>
                </select>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label for="validationCustom02">Zip</label>
                <input type="text" class="form-control" id="validationCustom02" placeholder="Zip" name="zip" [(ngModel)]="match.address.zip" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
            </div>
            
            <div class="form-row">
              <div class="form-group">
                <label for="inputPitch">Pitch</label>
                <select id="inputPitch" class="form-control" name="pitch" [(ngModel)]="match.pitch" required
                (ngModelChange)="onPitchChange($event)">
                  <option *ngFor="let pitch of pitches" [value]="pitch.id">{{pitch.name}}</option>
                </select>
              </div>
            </div>
            <button class="btn btn-primary" (click)="create()">Add Match</button>
          </form>

        </div>
      </div>
    </div>
  </div>
  <script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
  </script>
</div>
