<app-nav></app-nav>

<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0 my-2">Create new match</h3>
        </div>
        <br>
        <span class="alert alert-danger" *ngIf="error">
          {{errorMessage}}
        </span>

        <div class="card-body row">
          <div class="col-sm-6 center-block">
            <div class="form-group">
              <h3>Match information</h3>
              <label for="inputDate">Date</label>
              <input type="date" name="date" class="form-control" id="inputDate" [(ngModel)]="match.date" required>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputCity">City</label>
                  <select id="inputCity" class="form-control" name="city" [(ngModel)]="match.address.city" required
                  (ngModelChange)="onCityChange($event)">
                    <option *ngFor="let city of cities" [value]="city.id">{{city.label}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="validationCustom02">Zip</label>
                  <input type="text" class="form-control" id="validationCustom02" placeholder="Zip" name="zip" [(ngModel)]="match.address.zip" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="validationCustom02">Players per team</label>
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                      <input type="radio" name="options" id="option1" autocomplete="off" [(ngModel)]="match.size" checked> 5 Players
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="options" id="option2" autocomplete="off" [(ngModel)]="match.size" > 7 Players
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="options" id="option3" autocomplete="off" [(ngModel)]="match.size" > 11 Players
                    </label>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <!-- <button class="btn btn-primary" (click)="create()">Add Match</button> -->
        <button class="btn btn-primary">Add Match</button>
      </div>
    </div>
  </div>
</div>
