
<app-nav></app-nav>
<div class="container">
    <div class="row my-2">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                </li>
                <!-- <li class="nav-item">
                    <a href="" data-target="#stats" data-toggle="tab" class="nav-link">Stats</a>
                </li> -->
                <li class="nav-item">
                    <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#matches" data-toggle="tab" class="nav-link">Joined Matches</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <h5 class="mb-3">Player Profile</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Full Name</h6>
                            <p>
                                {{player.firstName}} {{player.lastName}}
                            </p>
                            <h6>Team</h6>
                            <p>
                                {{player.team?.name}}
                            </p>
                            <h6>Preferred Position</h6>
                            <p>
                                {{player.preferredPosition}}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h6>Recent badges</h6>
                            <a href="#" class="badge badge-dark badge-pill">man of the match</a>
                            <a href="#" class="badge badge-dark badge-pill">player of the week</a>
                            <a href="#" class="badge badge-dark badge-pill">best goal</a>
                            <a href="#" class="badge badge-dark badge-pill">best striker</a>
                            <hr>
                            
                        </div>
                        <div class="col-md-12">
                            <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span> Recent PLayed Matches</h5>
                            <table class="table table-sm table-hover table-striped">
                                <tbody>                                    
                                    <!-- <tr *ngFor="let match of recentPlayedMatches">
                                        <td>
                                            <strong>{{match.host.name}}</strong> {{match.hostGoals}} - {{match.guestGoals}} <strong>{{match.guest.name}}</strong>
                                        </td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                
                <div class="tab-pane" id="edit">
                    <form role="form">
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">First name</label>
                            <div class="col-lg-9">
                                <input type="text" required class="form-control" name="firstName" id="inputfirstName" placeholder="First Name" [(ngModel)]="player.firstName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                            <div class="col-lg-9">
                                <input type="text" required class="form-control" name="lastName" id="inputlastName" placeholder="Last Name" [(ngModel)]="player.lastName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Email</label>
                            <div class="col-lg-9">
                                <input type="email" required class="form-control" name="email" id="inputemail" placeholder="Email" [(ngModel)]="player.email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Preferred Position</label>
                            <div class="col-lg-9">
                                <select id="inputPosition" class="form-control" name="preferredPosition" required [(ngModel)]="selectedPosition"
                                (ngModelChange)="onPositionChange($event)">
                                    <option *ngFor="let pos of positions" [value]="pos"> {{pos}} </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Address</label>
                            <div class="col-lg-6">
                                <label for="inputCity">City</label>
                                <input class="form-control" id="inputCity" name="city" type="text" [(ngModel)]="player.address.city" placeholder="city">
                            </div>
                            <div class="col-lg-3">
                                <label for="inputZip">Zip</label>
                                <input class="form-control" id="inputZip" name="zip" type="text" [(ngModel)]="player.address.zip" placeholder="zip">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Username</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" name="username" id="inputusername" placeholder="Username" [(ngModel)]="player.username">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <input type="button" class="btn btn-outline-primary" value="Save Changes" (click)="updateProfile()">
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="matches">
                    <div *ngIf="joinedMatches.length !== 0">
                        <div class="card text-center" *ngFor="let match of joinedMatches">
                            <h5 class="card-header">{{match.label}}</h5>
                            <div class="card-body">
                                <h5 class="card-title">{{match.date | date}}</h5>
                                <p class="card-text">{{match.address.city}} - {{match.address.zip}}</p>
                                <button class="btn btn-outline-primary" (click)="quitMatch(match)">Quit</button>
                            </div>
                        </div>
                    </div>
                    <div class="card text-center" *ngIf="joinedMatches.length === 0">
                        <h5 class="card-header">
                            <div>You are not a member of any match !</div><br>
                            <button class="btn btn-outline-primary" routerLink="/match">Select match to join</button>
                        </h5>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>